---
import Layout from '../layouts/Layout.astro'
import AlpineSearchBox from '@components/AlpineSearchBox.astro'

const pages = [
  { name: 'Liste des mots-vedettes', slug: '#' },
  { name: 'Télécharger les fiches', slug: '#' },
  { name: "Correspondre aujourd'hui", slug: '#' },
  { name: 'Contact', slug: '#' },
  { name: 'À propos', slug: '#' },
]
---

<Layout title="Recherche | sous la loupe">
  <div class="mt-[10%] flex flex-col items-center">
    <img
      src="/logo.webp"
      alt="Logo association sous la loupe"
      class="mb-6 w-64"
    />
    <AlpineSearchBox />
  </div>

  <nav class="flex flex-col items-center mt-20 gap-y-4">
    {
      pages.map((p) => (
        <a href="#" class="text-lg text-accent font-bold hover:underline ">
          {p.name}
        </a>
      ))
    }
  </nav>
</Layout>
