---
import Layout from '../layouts/Layout.astro'
import AlpineSearchBox from '@components/AlpineSearchBox.astro'
---

<Layout title="Recherche | sous la loupe">
  <div class="mt-[10%]">
    <img
      src="/logo.webp"
      alt="Logo association sous la loupe"
      class="mb-6 w-64 mx-auto"
    />
    <AlpineSearchBox />
  </div>
</Layout>
