---
import Layout from '../layouts/Layout.astro'
import AlpineSearchBox from '@components/AlpineSearchBox.astro'
---

<Layout title="Recherche | sous la loupe">
  <main class="p-12 grid items-center min-h-screen">
    <div class="-mt-12">
      <!-- <h1 class="text-5xl text-center mb-6">sous la loupe</h1> -->
      <img
        src="/logo.webp"
        alt="Logo sous la loupe"
        class="mb-6 w-64 mx-auto"
      />
      <AlpineSearchBox />
    </div>
  </main>
</Layout>
