---
import { Icon } from 'astro-icon/components'
import Layout from '../layouts/Layout.astro'
import fiches from '../data/fiches.json'
---

<Layout title="Recherche | sous la loupe">
  <main class="p-12" x-data="{ open: false }">
    <div class="mb-4 flex w-full flex-wrap items-stretch">
      <input
        autocomplete="off"
        type="search"
        class="m-0 min-w-0 flex-auto rounded-l border border-solid border-neutral-300 px-3 py-2 text-neutral-700 outline-none transition duration-200 ease-in-out focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-500 dark:placeholder:text-neutral-500 dark:focus:border-primary"
        placeholder="Rechercher un mot allemand"
        aria-label="Rechercher"
        aria-describedby="button-addon1"
      />

      <!--Search button-->
      <button
        class="flex items-center rounded-r bg-primary px-6 py-2 text-xs font-medium uppercase text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
        type="button"
        id="button-addon1"
        @click="console.log('Hello World!')"
      >
        <Icon name="mdi:search" />
      </button>
    </div>

    <ul class="flex flex-col gap-y-6" x-show="open">
      {
        fiches.map((fiche) => (
          <li class="text-lg">
            <a href={`/fiches/${fiche.slug}/`} class="underline">
              {fiche.vedette}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
