---
import { Image } from 'astro:assets'
/* import localBirdImage from '../images/sous_la_loupe_logo_1660.jpg' */
import Layout from '../layouts/Layout.astro'

import AlpineSearchBox from '@components/AlpineSearchBox.astro'
---

<Layout title="Recherche | sous la loupe">
  <main class="p-12 grid place-items-center min-h-screen">
    <div class="max-w-sm -mt-12">
      <!--      <Image
        src={localBirdImage}
        alt="Logo sous la loupe"
        class="mx-auto mb-8"
      /> -->

      <AlpineSearchBox />
    </div>
  </main>
</Layout>
