---
import Layout from '../layouts/Layout.astro'
import fiches from '../data/fiches.json'
---

<Layout title="Welcome to Astro.">
  <main class="p-12">
    <ul class="flex flex-col gap-y-6">
      {
        fiches.map((fiche) => (
          <li class="text-lg">
            <a href={`/fiches/${fiche.slug}/`} class="underline">
              {fiche.vedette}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
