---
import Layout from '../layouts/Layout.astro'
import AlpineSearchBox from '@components/AlpineSearchBox.astro'
import WordCloud from '@components/word-cloud/WordCloud.astro'
import NavLinks from '@components/NavLinks.astro'
import Banner from '@components/Banner.astro'
import { Icon } from 'astro-icon/components'
---

<Layout title="Recherche | sous la loupe">
  <Banner />
  <div class="hidden md:block">
    <WordCloud />
  </div>
  <div
    class="absolute backdrop-blur-sm bg-white/80 md:px-8 px-4 py-10 w-full md:w-[39rem] rounded-lg top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col items-center md:border-primary md:border-4"
  >
    <Icon name="logo" class="text-9xl z-10 mb-6" />
    <AlpineSearchBox />
    <NavLinks />
  </div>
</Layout>
