---
import Layout from '../layouts/Layout.astro'
import SearchBox from '../components/SearchBox.vue'
---

<Layout title="Recherche | sous la loupe">
  <main class="p-12">
    <SearchBox client:load />
  </main>
</Layout>
