---
import { Icon } from 'astro-icon/components'
---

<nav class="mt-4 ml-1 fixed top-0 left-0 w-fit">
  <a href="/"
    ><Icon name="mdi:arrow-left" class="text-accent text-5xl hover:font-bold" />
    <span class="sr-only">Retour à la page de recherche</span></a
  >
</nav>
