<div
  class="bg-primary fixed w-full text-center text-white py-3 bg-opacity-90 shadow-md"
>
  <p class="font-semibold text-lg">
    Bienvenue sur le nouveau site de <i>sous la loupe</i>&nbsp;! <br
      class="lg:hidden"
    />
    <a href="/dissolution/" class="underline text-sm">Lire le communiqué</a>
  </p>
</div>
