---
import { Icon } from 'astro-icon/components'
import { pages } from './NavLinks.astro'
---

<header class="max-w-screen-md mx-auto">
  <a href="/">
    <span class="sr-only">Retour à la page de recherche</span>
    <Icon name="logo" class="text-8xl mb-6 mx-auto" />
  </a>
  <nav class="px-4 py-2 sticky top-10 bg-white">
    <ul class="flex justify-around gap-x-4">
      {
        [{ name: 'Recherche', slug: '/' }, ...pages].map((p) => (
          <li>
            <a href={p.slug} class=" text-accent hover:underline">
              {p.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
