---
export const pages = [
  { name: 'Mots-vedettes', slug: '/mots-vedettes/' },
  { name: 'Téléchargement', slug: '/telechargement/' },
  { name: 'Contact', slug: '/contact/' },
  { name: 'À propos', slug: '/a-propos/' },
]
---

<nav>
  <ul class="flex flex-col items-center mt-14 gap-y-4">
    {
      pages.map((p) => (
        <li>
          <a
            href={p.slug}
            class="text-lg text-accent font-bold hover:underline"
          >
            {p.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
