---
import cloud from './cloud.svg?raw'
---

<div>
  <Fragment set:html={cloud} class="w-full" />
</div>

<script>
  const cloud = document.querySelector('svg')
  cloud.addEventListener('click', function (event) {
    const { nodeName, id } = event.target as HTMLElement
    if (nodeName === 'text' && id) {
      window.location.href = '/fiches/' + id
    }
  })
</script>
