---

---

<div>
  <svg width="1100" height="400"
    ><g transform="translate(550,200)"
      ><text
        text-anchor="middle"
        transform="translate(91,51)rotate(0)"
        style="font-size: 74px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >Mrs</text
      ><text
        text-anchor="middle"
        transform="translate(90,-54)rotate(-30)"
        style="font-size: 67px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >Oliver</text
      ><text
        text-anchor="middle"
        transform="translate(203,-62)rotate(-90)"
        style="font-size: 67px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >say</text
      ><text
        text-anchor="middle"
        transform="translate(102,104)rotate(60)"
        style="font-size: 59px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >said</text
      ><text
        text-anchor="middle"
        transform="translate(-37,97)rotate(-30)"
        style="font-size: 53px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >bumble</text
      ><text
        text-anchor="middle"
        transform="translate(-162,-18)rotate(0)"
        style="font-size: 53px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >will</text
      ><text
        text-anchor="middle"
        transform="translate(249,16)rotate(60)"
        style="font-size: 51px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >Mann</text
      ><text
        text-anchor="middle"
        transform="translate(-113,28)rotate(-90)"
        style="font-size: 51px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >Mr</text
      ><text
        text-anchor="middle"
        transform="translate(-200,49)rotate(-90)"
        style="font-size: 50px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >very</text
      ><text
        text-anchor="middle"
        transform="translate(-153,90)rotate(-90)"
        style="font-size: 44px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >child</text
      ><text
        text-anchor="middle"
        transform="translate(-40,-29)rotate(-60)"
        style="font-size: 43px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >all</text
      ><text
        text-anchor="middle"
        transform="translate(-2,-57)rotate(-90)"
        style="font-size: 43px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >boy</text
      ><text
        text-anchor="middle"
        transform="translate(314,-58)rotate(0)"
        style="font-size: 43px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >gentleman</text
      ><text
        text-anchor="middle"
        transform="translate(-51,16)rotate(30)"
        style="font-size: 43px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >great</text
      ><text
        text-anchor="middle"
        transform="translate(133,-10)rotate(0)"
        style="font-size: 43px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >take</text
      ><text
        text-anchor="middle"
        transform="translate(312,-13)rotate(-60)"
        style="font-size: 42px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >but</text
      ><text
        text-anchor="middle"
        transform="translate(-270,88)rotate(-30)"
        style="font-size: 39px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >beadle</text
      ><text
        text-anchor="middle"
        transform="translate(-189,130)rotate(-90)"
        style="font-size: 39px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >twist</text
      ><text
        text-anchor="middle"
        transform="translate(187,51)rotate(30)"
        style="font-size: 38px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >board</text
      ><text
        text-anchor="middle"
        transform="translate(-208,-61)rotate(-90)"
        style="font-size: 38px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >more</text
      ><text
        text-anchor="middle"
        transform="translate(69,-15)rotate(-30)"
        style="font-size: 38px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >one</text
      ><text
        text-anchor="middle"
        transform="translate(-364,83)rotate(60)"
        style="font-size: 38px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >workhouse</text
      ><text
        text-anchor="middle"
        transform="translate(227,95)rotate(0)"
        style="font-size: 37px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >parish</text
      ><text
        text-anchor="middle"
        transform="translate(-255,18)rotate(-30)"
        style="font-size: 37px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >there</text
      ><text
        text-anchor="middle"
        transform="translate(-265,48)rotate(-30)"
        style="font-size: 35px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >come</text
      ><text
        text-anchor="middle"
        transform="translate(-265,-67)rotate(60)"
        style="font-size: 35px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >hand</text
      ><text
        text-anchor="middle"
        transform="translate(-252,134)rotate(60)"
        style="font-size: 35px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >know</text
      ><text
        text-anchor="middle"
        transform="translate(159,-61)rotate(-60)"
        style="font-size: 35px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >sir</text
      ><text
        text-anchor="middle"
        transform="translate(46,102)rotate(-90)"
        style="font-size: 34px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >being</text
      ><text
        text-anchor="middle"
        transform="translate(-169,-62)rotate(0)"
        style="font-size: 34px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >head</text
      ><text
        text-anchor="middle"
        transform="translate(-36,-100)rotate(-30)"
        style="font-size: 34px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >make</text
      ><text
        text-anchor="middle"
        transform="translate(217,33)rotate(0)"
        style="font-size: 34px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >out</text
      ><text
        text-anchor="middle"
        transform="translate(-55,43)rotate(-30)"
        style="font-size: 32px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >can</text
      ><text
        text-anchor="middle"
        transform="translate(-288,-100)rotate(-90)"
        style="font-size: 32px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >little</text
      ><text
        text-anchor="middle"
        transform="translate(-86,-102)rotate(-30)"
        style="font-size: 32px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >reply</text
      ><text
        text-anchor="middle"
        transform="translate(-133,84)rotate(-90)"
        style="font-size: 31px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >any</text
      ><text
        text-anchor="middle"
        transform="translate(-88,23)rotate(-90)"
        style="font-size: 31px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >cry</text
      ><text
        text-anchor="middle"
        transform="translate(36,-106)rotate(-60)"
        style="font-size: 31px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >good</text
      ><text
        text-anchor="middle"
        transform="translate(-104,-56)rotate(30)"
        style="font-size: 31px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >name</text
      ><text
        text-anchor="middle"
        transform="translate(219,126)rotate(30)"
        style="font-size: 31px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >poor</text
      ><text
        text-anchor="middle"
        transform="translate(149,91)rotate(30)"
        style="font-size: 31px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >time</text
      ><text
        text-anchor="middle"
        transform="translate(84,-114)rotate(-90)"
        style="font-size: 31px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >two</text
      ><text
        text-anchor="middle"
        transform="translate(-164,19)rotate(-60)"
        style="font-size: 29px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >after</text
      ><text
        text-anchor="middle"
        transform="translate(-152,-100)rotate(-60)"
        style="font-size: 29px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >dear</text
      ><text
        text-anchor="middle"
        transform="translate(109,-46)rotate(0)"
        style="font-size: 29px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >get</text
      ><text
        text-anchor="middle"
        transform="translate(330,25)rotate(-90)"
        style="font-size: 29px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >gruel</text
      ><text
        text-anchor="middle"
        transform="translate(-74,77)rotate(-30)"
        style="font-size: 29px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >long</text
      ><text
        text-anchor="middle"
        transform="translate(307,77)rotate(-60)"
        style="font-size: 29px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >may</text
      ><text
        text-anchor="middle"
        transform="translate(-97,-126)rotate(-30)"
        style="font-size: 29px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >never</text
      ><text
        text-anchor="middle"
        transform="translate(353,65)rotate(-60)"
        style="font-size: 29px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >some</text
      ><text
        text-anchor="middle"
        transform="translate(-3,7)rotate(30)"
        style="font-size: 29px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >well</text
      ><text
        text-anchor="middle"
        transform="translate(-337,56)rotate(60)"
        style="font-size: 29px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >white</text
      ><text
        text-anchor="middle"
        transform="translate(-58,132)rotate(-30)"
        style="font-size: 29px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >woman</text
      ><text
        text-anchor="middle"
        transform="translate(242,-101)rotate(-30)"
        style="font-size: 28px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >chair</text
      ><text
        text-anchor="middle"
        transform="translate(-184,-104)rotate(-30)"
        style="font-size: 28px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >day</text
      ><text
        text-anchor="middle"
        transform="translate(-236,-103)rotate(-90)"
        style="font-size: 28px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >give</text
      ><text
        text-anchor="middle"
        transform="translate(-31,164)rotate(0)"
        style="font-size: 28px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >inquire</text
      ><text
        text-anchor="middle"
        transform="translate(200,4)rotate(0)"
        style="font-size: 28px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >made</text
      ><text
        text-anchor="middle"
        transform="translate(179,-111)rotate(30)"
        style="font-size: 28px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >next</text
      ><text
        text-anchor="middle"
        transform="translate(72,78)rotate(-90)"
        style="font-size: 28px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >now</text
      ><text
        text-anchor="middle"
        transform="translate(-272,-22)rotate(-60)"
        style="font-size: 28px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >other</text
      ><text
        text-anchor="middle"
        transform="translate(-1,-137)rotate(60)"
        style="font-size: 28px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >over</text
      ><text
        text-anchor="middle"
        transform="translate(-307,-27)rotate(-60)"
        style="font-size: 28px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >small</text
      ><text
        text-anchor="middle"
        transform="translate(-384,-29)rotate(60)"
        style="font-size: 28px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >surgeon</text
      ><text
        text-anchor="middle"
        transform="translate(311,121)rotate(-30)"
        style="font-size: 28px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >think</text
      ><text
        text-anchor="middle"
        transform="translate(-96,-24)rotate(-30)"
        style="font-size: 28px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >too</text
      ><text
        text-anchor="middle"
        transform="translate(367,99)rotate(-60)"
        style="font-size: 28px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >walk</text
      ><text
        text-anchor="middle"
        transform="translate(114,-128)rotate(-60)"
        style="font-size: 28px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >want</text
      ><text
        text-anchor="middle"
        transform="translate(-345,-53)rotate(0)"
        style="font-size: 26px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >bless</text
      ><text
        text-anchor="middle"
        transform="translate(-208,1)rotate(30)"
        style="font-size: 26px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >eye</text
      ><text
        text-anchor="middle"
        transform="translate(-209,-128)rotate(-60)"
        style="font-size: 26px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >man</text
      ><text
        text-anchor="middle"
        transform="translate(366,25)rotate(30)"
        style="font-size: 26px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >master</text
      ><text
        text-anchor="middle"
        transform="translate(-2,112)rotate(60)"
        style="font-size: 26px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >most</text
      ><text
        text-anchor="middle"
        transform="translate(-359,-27)rotate(60)"
        style="font-size: 26px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >old</text
      ><text
        text-anchor="middle"
        transform="translate(-276,138)rotate(-90)"
        style="font-size: 26px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >people</text
      ><text
        text-anchor="middle"
        transform="translate(75,127)rotate(-60)"
        style="font-size: 26px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >see</text
      ><text
        text-anchor="middle"
        transform="translate(-317,-107)rotate(-90)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >another</text
      ><text
        text-anchor="middle"
        transform="translate(-31,-151)rotate(-60)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >at all</text
      ><text
        text-anchor="middle"
        transform="translate(-419,67)rotate(30)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >authorities</text
      ><text
        text-anchor="middle"
        transform="translate(-464,28)rotate(-60)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >authority</text
      ><text
        text-anchor="middle"
        transform="translate(372,-27)rotate(-60)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >away</text
      ><text
        text-anchor="middle"
        transform="translate(345,-34)rotate(-90)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >face</text
      ><text
        text-anchor="middle"
        transform="translate(401,64)rotate(0)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >gate</text
      ><text
        text-anchor="middle"
        transform="translate(118,13)rotate(0)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >half</text
      ><text
        text-anchor="middle"
        transform="translate(407,-17)rotate(-90)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >hands</text
      ><text
        text-anchor="middle"
        transform="translate(-407,-2)rotate(0)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >heart</text
      ><text
        text-anchor="middle"
        transform="translate(-25,138)rotate(-30)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >last</text
      ><text
        text-anchor="middle"
        transform="translate(-394,112)rotate(0)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >might</text
      ><text
        text-anchor="middle"
        transform="translate(82,148)rotate(-60)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >nurse</text
      ><text
        text-anchor="middle"
        transform="translate(175,74)rotate(0)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >once</text
      ><text
        text-anchor="middle"
        transform="translate(-469,81)rotate(-30)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >place</text
      ><text
        text-anchor="middle"
        transform="translate(439,-35)rotate(0)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >room</text
      ><text
        text-anchor="middle"
        transform="translate(-124,156)rotate(30)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >table</text
      ><text
        text-anchor="middle"
        transform="translate(-415,-55)rotate(-90)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >three</text
      ><text
        text-anchor="middle"
        transform="translate(-381,143)rotate(-60)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >voice</text
      ><text
        text-anchor="middle"
        transform="translate(434,17)rotate(60)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >waistcoat</text
      ><text
        text-anchor="middle"
        transform="translate(268,124)rotate(-90)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >wash</text
      ><text
        text-anchor="middle"
        transform="translate(-495,27)rotate(-30)"
        style="font-size: 24px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >water</text
      ><text
        text-anchor="middle"
        transform="translate(207,145)rotate(30)"
        style="font-size: 22px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >a little</text
      ><text
        text-anchor="middle"
        transform="translate(-50,-63)rotate(0)"
        style="font-size: 22px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >bow</text
      ><text
        text-anchor="middle"
        transform="translate(-364,-113)rotate(60)"
        style="font-size: 22px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >business</text
      ><text
        text-anchor="middle"
        transform="translate(-268,-130)rotate(-90)"
        style="font-size: 22px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >drop</text
      ><text
        text-anchor="middle"
        transform="translate(398,96)rotate(0)"
        style="font-size: 22px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >eyes</text
      ><text
        text-anchor="middle"
        transform="translate(51,-148)rotate(60)"
        style="font-size: 22px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >fall</text
      ><text
        text-anchor="middle"
        transform="translate(439,77)rotate(-30)"
        style="font-size: 22px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >find</text
      ><text
        text-anchor="middle"
        transform="translate(284,-33)rotate(-30)"
        style="font-size: 22px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >gin</text
      ><text
        text-anchor="middle"
        transform="translate(-455,-34)rotate(60)"
        style="font-size: 22px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >high</text
      ><text
        text-anchor="middle"
        transform="translate(290,-111)rotate(-60)"
        style="font-size: 22px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >house</text
      ><text
        text-anchor="middle"
        transform="translate(145,-139)rotate(-60)"
        style="font-size: 22px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >infant</text
      ><text
        text-anchor="middle"
        transform="translate(-379,-102)rotate(-90)"
        style="font-size: 22px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >night</text
      ><text
        text-anchor="middle"
        transform="translate(-448,-79)rotate(-30)"
        style="font-size: 22px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >nobody</text
      ><text
        text-anchor="middle"
        transform="translate(-431,103)rotate(-60)"
        style="font-size: 22px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >orphan</text
      ><text
        text-anchor="middle"
        transform="translate(177,154)rotate(30)"
        style="font-size: 22px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >pauper</text
      ><text
        text-anchor="middle"
        transform="translate(-402,-117)rotate(-90)"
        style="font-size: 22px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >perhaps</text
      ><text
        text-anchor="middle"
        transform="translate(352,-105)rotate(-60)"
        style="font-size: 22px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >rather</text
      ><text
        text-anchor="middle"
        transform="translate(-179,-146)rotate(60)"
        style="font-size: 22px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >round</text
      ><text
        text-anchor="middle"
        transform="translate(315,-94)rotate(30)"
        style="font-size: 22px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >sit</text
      ><text
        text-anchor="middle"
        transform="translate(221,-144)rotate(-90)"
        style="font-size: 22px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >world</text
      ><text
        text-anchor="middle"
        transform="translate(386,-100)rotate(-30)"
        style="font-size: 22px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >young</text
      ><text
        text-anchor="middle"
        transform="translate(182,-141)rotate(60)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >add</text
      ><text
        text-anchor="middle"
        transform="translate(-251,-19)rotate(0)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >ask</text
      ><text
        text-anchor="middle"
        transform="translate(483,56)rotate(-90)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >at once</text
      ><text
        text-anchor="middle"
        transform="translate(68,-162)rotate(60)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >behind</text
      ><text
        text-anchor="middle"
        transform="translate(-119,-136)rotate(-30)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >bottle</text
      ><text
        text-anchor="middle"
        transform="translate(-324,13)rotate(0)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >bread</text
      ><text
        text-anchor="middle"
        transform="translate(-222,-141)rotate(-60)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >care</text
      ><text
        text-anchor="middle"
        transform="translate(-350,137)rotate(-90)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >copper</text
      ><text
        text-anchor="middle"
        transform="translate(-319,31)rotate(30)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >die</text
      ><text
        text-anchor="middle"
        transform="translate(422,47)rotate(30)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >farm</text
      ><text
        text-anchor="middle"
        transform="translate(24,86)rotate(-90)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >fat</text
      ><text
        text-anchor="middle"
        transform="translate(313,157)rotate(-60)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >father</text
      ><text
        text-anchor="middle"
        transform="translate(3,-100)rotate(-90)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >fell</text
      ><text
        text-anchor="middle"
        transform="translate(-140,176)rotate(0)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >female</text
      ><text
        text-anchor="middle"
        transform="translate(-480,-17)rotate(-60)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >going</text
      ><text
        text-anchor="middle"
        transform="translate(379,123)rotate(-30)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >happen</text
      ><text
        text-anchor="middle"
        transform="translate(101,147)rotate(60)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >hat</text
      ><text
        text-anchor="middle"
        transform="translate(471,-6)rotate(-90)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >here</text
      ><text
        text-anchor="middle"
        transform="translate(421,-72)rotate(30)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >however</text
      ><text
        text-anchor="middle"
        transform="translate(-88,-166)rotate(0)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >hungry</text
      ><text
        text-anchor="middle"
        transform="translate(328,-131)rotate(-60)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >in this</text
      ><text
        text-anchor="middle"
        transform="translate(-494,-86)rotate(30)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >keep</text
      ><text
        text-anchor="middle"
        transform="translate(21,-164)rotate(0)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >large</text
      ><text
        text-anchor="middle"
        transform="translate(259,-140)rotate(-60)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >low</text
      ><text
        text-anchor="middle"
        transform="translate(501,40)rotate(60)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >matter</text
      ><text
        text-anchor="middle"
        transform="translate(-492,-37)rotate(-60)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >out of</text
      ><text
        text-anchor="middle"
        transform="translate(337,144)rotate(-90)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >pound</text
      ><text
        text-anchor="middle"
        transform="translate(438,-83)rotate(30)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >public</text
      ><text
        text-anchor="middle"
        transform="translate(113,-169)rotate(30)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >quarter</text
      ><text
        text-anchor="middle"
        transform="translate(441,103)rotate(60)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >quite</text
      ><text
        text-anchor="middle"
        transform="translate(277,163)rotate(-60)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >raise</text
      ><text
        text-anchor="middle"
        transform="translate(46,165)rotate(-90)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >sleep</text
      ><text
        text-anchor="middle"
        transform="translate(-428,34)rotate(30)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >spirit</text
      ><text
        text-anchor="middle"
        transform="translate(23,-35)rotate(30)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >ten</text
      ><text
        text-anchor="middle"
        transform="translate(-187,-46)rotate(0)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >turn</text
      ><text
        text-anchor="middle"
        transform="translate(-163,-168)rotate(30)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >wanted</text
      ><text
        text-anchor="middle"
        transform="translate(417,133)rotate(-90)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >washing</text
      ><text
        text-anchor="middle"
        transform="translate(-419,147)rotate(-60)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >week</text
      ><text
        text-anchor="middle"
        transform="translate(-236,98)rotate(60)"
        style="font-size: 19px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >word</text
      ><text
        text-anchor="middle"
        transform="translate(236,-160)rotate(60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >age</text
      ><text
        text-anchor="middle"
        transform="translate(145,162)rotate(-90)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >arm</text
      ><text
        text-anchor="middle"
        transform="translate(-479,131)rotate(-30)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >ask for</text
      ><text
        text-anchor="middle"
        transform="translate(374,-136)rotate(0)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >assistant</text
      ><text
        text-anchor="middle"
        transform="translate(165,-171)rotate(0)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >be born</text
      ><text
        text-anchor="middle"
        transform="translate(-253,-148)rotate(30)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >bed</text
      ><text
        text-anchor="middle"
        transform="translate(-136,-182)rotate(60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >bill</text
      ><text
        text-anchor="middle"
        transform="translate(-265,163)rotate(60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >body</text
      ><text
        text-anchor="middle"
        transform="translate(105,171)rotate(30)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >born</text
      ><text
        text-anchor="middle"
        transform="translate(-171,152)rotate(30)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >brick</text
      ><text
        text-anchor="middle"
        transform="translate(-462,151)rotate(30)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >bring</text
      ><text
        text-anchor="middle"
        transform="translate(-514,96)rotate(30)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >cane</text
      ><text
        text-anchor="middle"
        transform="translate(-263,-2)rotate(-30)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >case</text
      ><text
        text-anchor="middle"
        transform="translate(502,-65)rotate(-60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >Christian</text
      ><text
        text-anchor="middle"
        transform="translate(501,-100)rotate(-60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >circumstance</text
      ><text
        text-anchor="middle"
        transform="translate(16,36)rotate(0)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >cock</text
      ><text
        text-anchor="middle"
        transform="translate(-452,-122)rotate(-30)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >cocked hat</text
      ><text
        text-anchor="middle"
        transform="translate(251,54)rotate(-60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >cold</text
      ><text
        text-anchor="middle"
        transform="translate(452,-106)rotate(60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >come to</text
      ><text
        text-anchor="middle"
        transform="translate(-515,-21)rotate(-90)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >companion</text
      ><text
        text-anchor="middle"
        transform="translate(409,-156)rotate(60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >consequence</text
      ><text
        text-anchor="middle"
        transform="translate(-321,168)rotate(30)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >corner</text
      ><text
        text-anchor="middle"
        transform="translate(481,95)rotate(0)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >deposit</text
      ><text
        text-anchor="middle"
        transform="translate(281,-138)rotate(-60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >dress</text
      ><text
        text-anchor="middle"
        transform="translate(-104,91)rotate(-90)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >eat</text
      ><text
        text-anchor="middle"
        transform="translate(-304,-150)rotate(60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >eight</text
      ><text
        text-anchor="middle"
        transform="translate(293,-158)rotate(60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >expect</text
      ><text
        text-anchor="middle"
        transform="translate(484,-131)rotate(-90)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >expected</text
      ><text
        text-anchor="middle"
        transform="translate(470,150)rotate(30)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >experimental</text
      ><text
        text-anchor="middle"
        transform="translate(-503,61)rotate(-90)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >feed</text
      ><text
        text-anchor="middle"
        transform="translate(-90,-71)rotate(30)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >fire</text
      ><text
        text-anchor="middle"
        transform="translate(275,-175)rotate(-90)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >glass</text
      ><text
        text-anchor="middle"
        transform="translate(296,29)rotate(60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >go to</text
      ><text
        text-anchor="middle"
        transform="translate(387,149)rotate(-60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >green</text
      ><text
        text-anchor="middle"
        transform="translate(-327,-157)rotate(-60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >halfpenny</text
      ><text
        text-anchor="middle"
        transform="translate(-212,184)rotate(0)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >hang</text
      ><text
        text-anchor="middle"
        transform="translate(-449,-165)rotate(-60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >have got</text
      ><text
        text-anchor="middle"
        transform="translate(-283,-162)rotate(30)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >hint</text
      ><text
        text-anchor="middle"
        transform="translate(508,-19)rotate(-90)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >hunger</text
      ><text
        text-anchor="middle"
        transform="translate(-515,145)rotate(-60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >interest</text
      ><text
        text-anchor="middle"
        transform="translate(329,-175)rotate(-60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >known</text
      ><text
        text-anchor="middle"
        transform="translate(246,168)rotate(-60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >latter</text
      ><text
        text-anchor="middle"
        transform="translate(-495,158)rotate(60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >lay</text
      ><text
        text-anchor="middle"
        transform="translate(-512,-124)rotate(60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >lead</text
      ><text
        text-anchor="middle"
        transform="translate(42,-98)rotate(60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >let</text
      ><text
        text-anchor="middle"
        transform="translate(-507,-73)rotate(30)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >live</text
      ><text
        text-anchor="middle"
        transform="translate(-498,-159)rotate(60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >mention</text
      ><text
        text-anchor="middle"
        transform="translate(8,-183)rotate(0)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >month</text
      ><text
        text-anchor="middle"
        transform="translate(217,-179)rotate(0)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >ninth</text
      ><text
        text-anchor="middle"
        transform="translate(-230,-175)rotate(-60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >offer</text
      ><text
        text-anchor="middle"
        transform="translate(373,184)rotate(0)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >old woman</text
      ><text
        text-anchor="middle"
        transform="translate(171,173)rotate(-90)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >open</text
      ><text
        text-anchor="middle"
        transform="translate(-392,-172)rotate(-30)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >operation</text
      ><text
        text-anchor="middle"
        transform="translate(518,31)rotate(60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >order</text
      ><text
        text-anchor="middle"
        transform="translate(-42,-179)rotate(-30)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >pale</text
      ><text
        text-anchor="middle"
        transform="translate(507,77)rotate(30)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >pick</text
      ><text
        text-anchor="middle"
        transform="translate(513,146)rotate(60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >possess</text
      ><text
        text-anchor="middle"
        transform="translate(-352,180)rotate(0)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >possible</text
      ><text
        text-anchor="middle"
        transform="translate(-350,-164)rotate(-30)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >pray</text
      ><text
        text-anchor="middle"
        transform="translate(-436,-115)rotate(-30)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >proper</text
      ><text
        text-anchor="middle"
        transform="translate(482,-172)rotate(30)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >purpose</text
      ><text
        text-anchor="middle"
        transform="translate(23,167)rotate(-90)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >raised</text
      ><text
        text-anchor="middle"
        transform="translate(431,-164)rotate(60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >remove</text
      ><text
        text-anchor="middle"
        transform="translate(-44,183)rotate(0)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >removed</text
      ><text
        text-anchor="middle"
        transform="translate(445,-170)rotate(60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >render</text
      ><text
        text-anchor="middle"
        transform="translate(246,-86)rotate(0)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >set</text
      ><text
        text-anchor="middle"
        transform="translate(354,-168)rotate(-90)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >shake</text
      ><text
        text-anchor="middle"
        transform="translate(439,166)rotate(-60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >sitting</text
      ><text
        text-anchor="middle"
        transform="translate(516,-186)rotate(0)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >smile</text
      ><text
        text-anchor="middle"
        transform="translate(-310,130)rotate(60)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >sure</text
      ><text
        text-anchor="middle"
        transform="translate(-424,179)rotate(0)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >tender</text
      ><text
        text-anchor="middle"
        transform="translate(223,173)rotate(-90)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >thin</text
      ><text
        text-anchor="middle"
        transform="translate(-397,-32)rotate(-90)"
        style="font-size: 17px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >yes</text
      ><text
        text-anchor="middle"
        transform="translate(-533,29)rotate(-90)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >accident</text
      ><text
        text-anchor="middle"
        transform="translate(-123,187)rotate(0)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >accompanied</text
      ><text
        text-anchor="middle"
        transform="translate(532,-27)rotate(-90)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >allowance</text
      ><text
        text-anchor="middle"
        transform="translate(-350,-182)rotate(-30)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >answer</text
      ><text
        text-anchor="middle"
        transform="translate(-484,-176)rotate(60)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >appear</text
      ><text
        text-anchor="middle"
        transform="translate(484,133)rotate(30)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >apron</text
      ><text
        text-anchor="middle"
        transform="translate(491,113)rotate(0)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >arrive</text
      ><text
        text-anchor="middle"
        transform="translate(-373,18)rotate(60)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >assign</text
      ><text
        text-anchor="middle"
        transform="translate(-533,-62)rotate(-90)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >astonishment</text
      ><text
        text-anchor="middle"
        transform="translate(-93,-184)rotate(0)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >at last</text
      ><text
        text-anchor="middle"
        transform="translate(376,-172)rotate(60)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >attend</text
      ><text
        text-anchor="middle"
        transform="translate(-515,-106)rotate(-90)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >birth</text
      ><text
        text-anchor="middle"
        transform="translate(-427,-173)rotate(-60)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >bowl</text
      ><text
        text-anchor="middle"
        transform="translate(76,-1)rotate(-30)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >brief</text
      ><text
        text-anchor="middle"
        transform="translate(475,183)rotate(0)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >bring up</text
      ><text
        text-anchor="middle"
        transform="translate(63,-116)rotate(-90)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >cast</text
      ><text
        text-anchor="middle"
        transform="translate(480,-16)rotate(60)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >catch</text
      ><text
        text-anchor="middle"
        transform="translate(-153,39)rotate(0)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >class</text
      ><text
        text-anchor="middle"
        transform="translate(-517,-166)rotate(-90)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >compose</text
      ><text
        text-anchor="middle"
        transform="translate(147,-188)rotate(0)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >conduct</text
      ><text
        text-anchor="middle"
        transform="translate(-495,179)rotate(0)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >consolation</text
      ><text
        text-anchor="middle"
        transform="translate(-510,113)rotate(0)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >contract</text
      ><text
        text-anchor="middle"
        transform="translate(-108,-7)rotate(0)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >cook</text
      ><text
        text-anchor="middle"
        transform="translate(-271,-180)rotate(30)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >couple</text
      ><text
        text-anchor="middle"
        transform="translate(83,187)rotate(0)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >crying</text
      ><text
        text-anchor="middle"
        transform="translate(374,-5)rotate(60)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >cuff</text
      ><text
        text-anchor="middle"
        transform="translate(529,123)rotate(-90)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >deal</text
      ><text
        text-anchor="middle"
        transform="translate(-457,97)rotate(-90)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >diet</text
      ><text
        text-anchor="middle"
        transform="translate(360,148)rotate(-30)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >draw</text
      ><text
        text-anchor="middle"
        transform="translate(388,-118)rotate(-30)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >faint</text
      ><text
        text-anchor="middle"
        transform="translate(376,57)rotate(-90)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >fist</text
      ><text
        text-anchor="middle"
        transform="translate(295,-181)rotate(60)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >floor</text
      ><text
        text-anchor="middle"
        transform="translate(172,-152)rotate(-90)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >food</text
      ><text
        text-anchor="middle"
        transform="translate(247,-167)rotate(60)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >fool</text
      ><text
        text-anchor="middle"
        transform="translate(-363,-87)rotate(-90)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >gaze</text
      ><text
        text-anchor="middle"
        transform="translate(-533,-153)rotate(-90)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >humility</text
      ><text
        text-anchor="middle"
        transform="translate(531,-87)rotate(-90)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >impress</text
      ><text
        text-anchor="middle"
        transform="translate(-176,181)rotate(-90)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >ladle</text
      ><text
        text-anchor="middle"
        transform="translate(-133,125)rotate(30)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >lady</text
      ><text
        text-anchor="middle"
        transform="translate(164,59)rotate(0)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >mile</text
      ><text
        text-anchor="middle"
        transform="translate(444,-7)rotate(60)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >piece</text
      ><text
        text-anchor="middle"
        transform="translate(-531,79)rotate(-90)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >please</text
      ><text
        text-anchor="middle"
        transform="translate(-494,-129)rotate(60)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >putt</text
      ><text
        text-anchor="middle"
        transform="translate(-37,-83)rotate(0)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >red</text
      ><text
        text-anchor="middle"
        transform="translate(517,-149)rotate(-30)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >reward</text
      ><text
        text-anchor="middle"
        transform="translate(-156,-184)rotate(0)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >roll</text
      ><text
        text-anchor="middle"
        transform="translate(-36,-8)rotate(60)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >rose</text
      ><text
        text-anchor="middle"
        transform="translate(-278,-53)rotate(-60)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >seat</text
      ><text
        text-anchor="middle"
        transform="translate(-31,46)rotate(30)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >six</text
      ><text
        text-anchor="middle"
        transform="translate(167,123)rotate(60)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >slice</text
      ><text
        text-anchor="middle"
        transform="translate(-66,24)rotate(-60)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >talk</text
      ><text
        text-anchor="middle"
        transform="translate(-91,58)rotate(-30)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >tap</text
      ><text
        text-anchor="middle"
        transform="translate(-136,-99)rotate(60)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >tear</text
      ><text
        text-anchor="middle"
        transform="translate(-431,-61)rotate(-90)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >tone</text
      ><text
        text-anchor="middle"
        transform="translate(-384,-158)rotate(-30)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >trade</text
      ><text
        text-anchor="middle"
        transform="translate(-469,-184)rotate(30)"
        style="font-size: 14px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >treat</text
      ><text
        text-anchor="middle"
        transform="translate(-189,58)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >accurate</text
      ><text
        text-anchor="middle"
        transform="translate(-416,191)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >address</text
      ><text
        text-anchor="middle"
        transform="translate(408,23)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >affect</text
      ><text
        text-anchor="middle"
        transform="translate(-237,177)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >affix</text
      ><text
        text-anchor="middle"
        transform="translate(288,163)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >agony</text
      ><text
        text-anchor="middle"
        transform="translate(-189,-131)rotate(60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >aim</text
      ><text
        text-anchor="middle"
        transform="translate(61,118)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >alarm</text
      ><text
        text-anchor="middle"
        transform="translate(191,17)rotate(-30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >alive</text
      ><text
        text-anchor="middle"
        transform="translate(298,190)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >all over</text
      ><text
        text-anchor="middle"
        transform="translate(-107,-42)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >allot</text
      ><text
        text-anchor="middle"
        transform="translate(216,-60)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >aloud</text
      ><text
        text-anchor="middle"
        transform="translate(-476,191)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >alphabetical</text
      ><text
        text-anchor="middle"
        transform="translate(122,189)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >apply</text
      ><text
        text-anchor="middle"
        transform="translate(407,-51)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >apprentice</text
      ><text
        text-anchor="middle"
        transform="translate(297,-99)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >as it is</text
      ><text
        text-anchor="middle"
        transform="translate(-172,-4)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >assist</text
      ><text
        text-anchor="middle"
        transform="translate(-344,191)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >at length</text
      ><text
        text-anchor="middle"
        transform="translate(-266,186)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >awaken</text
      ><text
        text-anchor="middle"
        transform="translate(235,-135)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >bachelor</text
      ><text
        text-anchor="middle"
        transform="translate(-21,-141)rotate(30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >bait</text
      ><text
        text-anchor="middle"
        transform="translate(-366,148)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >balance</text
      ><text
        text-anchor="middle"
        transform="translate(-412,11)rotate(-30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >beer</text
      ><text
        text-anchor="middle"
        transform="translate(-141,-8)rotate(-30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >beg</text
      ><text
        text-anchor="middle"
        transform="translate(-53,145)rotate(-30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >bid</text
      ><text
        text-anchor="middle"
        transform="translate(4,141)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >blow</text
      ><text
        text-anchor="middle"
        transform="translate(396,82)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >bolt</text
      ><text
        text-anchor="middle"
        transform="translate(-62,-151)rotate(60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >brat</text
      ><text
        text-anchor="middle"
        transform="translate(89,107)rotate(60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >breathed</text
      ><text
        text-anchor="middle"
        transform="translate(18,-9)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >brown</text
      ><text
        text-anchor="middle"
        transform="translate(524,183)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >brush</text
      ><text
        text-anchor="middle"
        transform="translate(516,-59)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >build</text
      ><text
        text-anchor="middle"
        transform="translate(-128,-151)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >burst</text
      ><text
        text-anchor="middle"
        transform="translate(-56,-126)rotate(60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >calico</text
      ><text
        text-anchor="middle"
        transform="translate(156,-37)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >calm</text
      ><text
        text-anchor="middle"
        transform="translate(-122,90)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >cap</text
      ><text
        text-anchor="middle"
        transform="translate(459,-135)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >cellar</text
      ><text
        text-anchor="middle"
        transform="translate(-336,-35)rotate(60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >chafe</text
      ><text
        text-anchor="middle"
        transform="translate(157,180)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >chafed</text
      ><text
        text-anchor="middle"
        transform="translate(-406,-189)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >check</text
      ><text
        text-anchor="middle"
        transform="translate(-394,42)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >clean</text
      ><text
        text-anchor="middle"
        transform="translate(-441,139)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >cling</text
      ><text
        text-anchor="middle"
        transform="translate(-252,-132)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >cloth</text
      ><text
        text-anchor="middle"
        transform="translate(149,109)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >coal</text
      ><text
        text-anchor="middle"
        transform="translate(96,-155)rotate(30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >coat</text
      ><text
        text-anchor="middle"
        transform="translate(-156,-145)rotate(30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >cork</text
      ><text
        text-anchor="middle"
        transform="translate(121,-68)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >corn</text
      ><text
        text-anchor="middle"
        transform="translate(319,181)rotate(60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >cough</text
      ><text
        text-anchor="middle"
        transform="translate(-123,68)rotate(60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >cover</text
      ><text
        text-anchor="middle"
        transform="translate(-469,-10)rotate(-30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >crop</text
      ><text
        text-anchor="middle"
        transform="translate(-303,191)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >culprit</text
      ><text
        text-anchor="middle"
        transform="translate(466,166)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >curtsey</text
      ><text
        text-anchor="middle"
        transform="translate(156,2)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >date</text
      ><text
        text-anchor="middle"
        transform="translate(413,-122)rotate(60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >define</text
      ><text
        text-anchor="middle"
        transform="translate(248,-186)rotate(30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >depth</text
      ><text
        text-anchor="middle"
        transform="translate(197,182)rotate(-30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >dirt</text
      ><text
        text-anchor="middle"
        transform="translate(258,191)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >dispatch</text
      ><text
        text-anchor="middle"
        transform="translate(513,-175)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >doctor</text
      ><text
        text-anchor="middle"
        transform="translate(533,58)rotate(60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >duly</text
      ><text
        text-anchor="middle"
        transform="translate(127,59)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >ease</text
      ><text
        text-anchor="middle"
        transform="translate(481,16)rotate(-30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >eating</text
      ><text
        text-anchor="middle"
        transform="translate(-235,120)rotate(60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >event</text
      ><text
        text-anchor="middle"
        transform="translate(-85,165)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >extant</text
      ><text
        text-anchor="middle"
        transform="translate(17,-148)rotate(60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >fail</text
      ><text
        text-anchor="middle"
        transform="translate(44,-184)rotate(60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >favour</text
      ><text
        text-anchor="middle"
        transform="translate(-407,151)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >feebly</text
      ><text
        text-anchor="middle"
        transform="translate(-2,182)rotate(60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >feint</text
      ><text
        text-anchor="middle"
        transform="translate(534,90)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >festive</text
      ><text
        text-anchor="middle"
        transform="translate(263,-36)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >flock</text
      ><text
        text-anchor="middle"
        transform="translate(302,142)rotate(-30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >folk</text
      ><text
        text-anchor="middle"
        transform="translate(226,105)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >folks</text
      ><text
        text-anchor="middle"
        transform="translate(520,100)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >fond</text
      ><text
        text-anchor="middle"
        transform="translate(-387,180)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >furious</text
      ><text
        text-anchor="middle"
        transform="translate(193,-194)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >grown</text
      ><text
        text-anchor="middle"
        transform="translate(-501,-54)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >hall</text
      ><text
        text-anchor="middle"
        transform="translate(534,-113)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >hush</text
      ><text
        text-anchor="middle"
        transform="translate(-61,-187)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >issue</text
      ><text
        text-anchor="middle"
        transform="translate(-467,164)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >item</text
      ><text
        text-anchor="middle"
        transform="translate(-468,-99)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >jury</text
      ><text
        text-anchor="middle"
        transform="translate(466,72)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >lean</text
      ><text
        text-anchor="middle"
        transform="translate(161,-106)rotate(60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >leg</text
      ><text
        text-anchor="middle"
        transform="translate(-297,74)rotate(-30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >lie</text
      ><text
        text-anchor="middle"
        transform="translate(-298,163)rotate(30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >lip</text
      ><text
        text-anchor="middle"
        transform="translate(-532,128)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >listen</text
      ><text
        text-anchor="middle"
        transform="translate(-440,76)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >lively</text
      ><text
        text-anchor="middle"
        transform="translate(64,14)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >lots</text
      ><text
        text-anchor="middle"
        transform="translate(122,38)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >mar</text
      ><text
        text-anchor="middle"
        transform="translate(313,-49)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >marry</text
      ><text
        text-anchor="middle"
        transform="translate(-36,191)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >mercy</text
      ><text
        text-anchor="middle"
        transform="translate(83,170)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >mix</text
      ><text
        text-anchor="middle"
        transform="translate(-408,89)rotate(-30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >neat</text
      ><text
        text-anchor="middle"
        transform="translate(-296,-185)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >notion</text
      ><text
        text-anchor="middle"
        transform="translate(-253,-190)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >nudge</text
      ><text
        text-anchor="middle"
        transform="translate(-465,60)rotate(-30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >onion</text
      ><text
        text-anchor="middle"
        transform="translate(365,-167)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >ounce</text
      ><text
        text-anchor="middle"
        transform="translate(342,30)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >outer</text
      ><text
        text-anchor="middle"
        transform="translate(-521,55)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >page</text
      ><text
        text-anchor="middle"
        transform="translate(360,-43)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >pity</text
      ><text
        text-anchor="middle"
        transform="translate(211,-31)rotate(60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >range</text
      ><text
        text-anchor="middle"
        transform="translate(416,7)rotate(60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >rare</text
      ><text
        text-anchor="middle"
        transform="translate(-405,124)rotate(30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >rebel</text
      ><text
        text-anchor="middle"
        transform="translate(78,-181)rotate(60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >relax</text
      ><text
        text-anchor="middle"
        transform="translate(463,-117)rotate(60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >ring</text
      ><text
        text-anchor="middle"
        transform="translate(185,186)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >robe</text
      ><text
        text-anchor="middle"
        transform="translate(-505,4)rotate(60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >rub</text
      ><text
        text-anchor="middle"
        transform="translate(533,15)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >rush</text
      ><text
        text-anchor="middle"
        transform="translate(-439,13)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >self</text
      ><text
        text-anchor="middle"
        transform="translate(336,-117)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >shine</text
      ><text
        text-anchor="middle"
        transform="translate(-302,46)rotate(-30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >shoe</text
      ><text
        text-anchor="middle"
        transform="translate(35,-148)rotate(30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >sit in</text
      ><text
        text-anchor="middle"
        transform="translate(-82,-21)rotate(-30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >slow</text
      ><text
        text-anchor="middle"
        transform="translate(-473,99)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >sob</text
      ><text
        text-anchor="middle"
        transform="translate(120,161)rotate(60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >stir</text
      ><text
        text-anchor="middle"
        transform="translate(56,183)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >stone</text
      ><text
        text-anchor="middle"
        transform="translate(-222,145)rotate(60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >stride</text
      ><text
        text-anchor="middle"
        transform="translate(363,-193)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >sugar</text
      ><text
        text-anchor="middle"
        transform="translate(281,108)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >suit</text
      ><text
        text-anchor="middle"
        transform="translate(48,61)rotate(0)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >tall</text
      ><text
        text-anchor="middle"
        transform="translate(464,-59)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >taste</text
      ><text
        text-anchor="middle"
        transform="translate(161,45)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >tea</text
      ><text
        text-anchor="middle"
        transform="translate(383,46)rotate(30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >wave</text
      ><text
        text-anchor="middle"
        transform="translate(431,112)rotate(-60)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 68, 0); cursor: pointer;"
        >wed</text
      ><text
        text-anchor="middle"
        transform="translate(-510,165)rotate(-30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 68, 0); cursor: pointer;"
        >wipe</text
      ><text
        text-anchor="middle"
        transform="translate(356,164)rotate(-30)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(68, 136, 0); cursor: pointer;"
        >wit</text
      ><text
        text-anchor="middle"
        transform="translate(492,46)rotate(-90)"
        style="font-size: 10px; opacity: 1; font-family: serif; fill: rgb(136, 136, 0); cursor: pointer;"
        >wrap</text
      ></g
    ></svg
  >
</div>
