---
import Layout from '../layouts/Layout.astro'
import TOC from '../components/TOC.astro'
import Header from '../components/Header.astro'
const { frontmatter, headings, url } = Astro.props
---

<Layout title={frontmatter.title}>
  <Header />
  <article
    class="grid grid-cols-[500px_minmax(900px,_1fr)_500px] min-h-screen gap-x-8"
  >
    <TOC pageHeadings={headings} />
    <div class="prose lg:prose-xl text-justify"><slot /></div>
  </article>
</Layout>
