---
import Layout from '../layouts/Layout.astro'
import TOC from '../components/TOC.astro'
import Header from '../components/Header.astro'
const { frontmatter, headings, url } = Astro.props
---

<Layout title={frontmatter.title}>
  <Header />
  <article class="flex gap-x-8 justify-center">
    <TOC pageHeadings={headings} />
    <div class="prose lg:prose-xl text-justify flex-1"><slot /></div>
  </article>
</Layout>
