---
import Layout from '../layouts/Layout.astro'
import TOC from '../components/TOC.astro'
import Header from '../components/Header.astro'
const { frontmatter, headings, url } = Astro.props
---

<Layout title={frontmatter.title}>
  <div class="mt-8">
    <Header />
    <!-- <TOC pageHeadings={headings} /> -->
    <article class="prose lg:prose-xl text-justify mx-auto mt-12 mb-32">
      <slot />
    </article>
  </div>
</Layout>
